		<div id="footer">
			<div id="footer-content">
				<h1>Middleman Template Project</h1>
				<h2>&copy; Matt Gardiner <%= copyright_years(2012) %></h2>
			</div>
			<div id="footer-rightcol">
				<div id="footer-navbar">
					<ul>
						<li><a href="./index.html">Home</a></li>
					</ul>
				</div>
			</div>
		</div>