<div id="header">

  <div id="header-content">
    <h1>MIDDLEMAN TEMPLATE PROJECT</h1>
    <h2>A project template</h2>
  </div>

  <div id="header-rightcol">
    <img src="<%= lorem.image("100x100", :background_color => 'a50681', :color => '746804')%>" alt="Template logo"/>
    <p>TEMPLATE</p>	
  </div>

</div>