<div id="header">
  
  <div id="textbackground">
  
    <div id="titlearea">
      <img id="logoimage" src="./images/flag-small.png" alt="logo" /> 
      <h1>Nottingham Sailing Club</h1>
    </div>
  
  </div> 
  
</div>