<% content_for :head do %>
  <title><%= page_title "Calendar" %></title>
<% end%>

		<div id="sectionnavbar">
				<ul>
					<li><a href="./calendar.html" class="active">Full Calendar</a></li>
					<li><a href="./social.html">Social</a></li>
					<li><a href="./sync.html">Sync</a></li>
				</ul>
		</div>
		
		<div id="page">

			<div id="content">
				<iframe src="https://www.google.com/calendar/embed?height=600&amp;wkst=2&amp;bgcolor=%23419D4D&amp;src=webmaster%40nottinghamsc.org.uk&amp;color=%232F6309&amp;ctz=Europe%2FLondon" style=" border-width:0 " width="950" height="600" frameborder="0" scrolling="no"></iframe>
			</div>

		</div>