<% content_for :head do %>
  <title><%= page_title "Results" %></title>
<% end%>

		<div id="sectionnavbar">
				<ul>
					<li><a href="./results.html">Club Results</a></li>
					<li><a href="./handicaps.html" class="active">Personal Handicaps</a></li>
					<li><a href="./py.html">Club PY numbers</a></li>
				</ul>
		</div>
		
		<div id="page">

			<div id="content">
				<iframe src="http://www.nottinghamsc.org.uk/results/pershand.htm" width="950" height="1000"></iframe>
			</div>

		</div>