<% content_for :head do %>
  <title><%= page_title "Home" %></title>
<% end %>

		<div id="page">
			
			<div id="sidebarleft">
				<div class="title">
					<h2 style="margin-top: 15px">Coming up...</h2>
				</div>
				
				<div class="highlighttext">	
					<h4>Training</h4>
					<p>Thursday 5th April<br>
					Racing Rules Evening</p>
				</div>
				<div class="highlighttext">
					<h4>Event</h4>
					<p>Monday 9th April<br>
					<a href="./projects.html" >Easter Personal Handicap</a></p>
				</div>
				<div class="highlighttext">
					<h4>Social</h4>
					<p>Thursday 12th April<br>
					Fitting Out Supper</p>
				</div>
				<div class="highlighttext last">
					<h4>Open Meeting</h4>
					<p>Sunday 29th April<br>
					Trent Tri-Partite Open Meeting at Attenborough Sailing Club</p>
				</div>
			</div>
			
			<div id="contentright">
				<div class="pagetext">
				
					<h1>The Nottingham Sailing Club</h1>
	
					<p>Nottingham Sailing Club is <a href="./location.html" >located</a> on the River Trent near West 
					Bridgford and the National Water Sports Centre. We have over 250 members and pride ourselves on the friendly
					atmosphere of our club. <a href="./joining.html" >New members</a> are always welcome. Members 
					enjoy a variety of racing, cruising, training and social activities. 
					Club racing takes place Saturday's and Sunday's as well as Thursday 
					evenings from May to August. A variety of dinghy classes are sailed at
					 the club, particularly Laser, Albacore, GP14, Enterprise, Solo and 
					 National 12.</p>

					<img src="./images/home_image1.png"/>
					
					<p>The club also actively encourages <a href="./juniors.html" >junior dinghy sailing</a> and runs a 
					specific junior sailing session on Saturday afternoons from Spring 
					until the end of Summer. Youngsters are also encouraged to sail Club 
					Toppers during any Club Session when a Rescue Boat is in attendance.</p>
					
					<div class="highlighttext">
						<h3>Learn to Sail - RYA Level 1 - April 21st-22nd</h3> 
						<p>This course is open to Members and non-Members. The majority 
						of the weekend is spent on the water, and by the end of the 
						weekend you should be able to helm a boat. See 
						<a href="./learn.html" >Learn to Sail</a> for further
						 information.</p>
						<p>Other 2012 Level 1 course dates
						<ul><li>May 5th-6th</li>
						<li>June 9th-10th</li></ul></p>
					</div>
					
					<img src="./images/home_image2.png"/>
					
					<div class="highlighttext last">
						<h3>News Update: April 2012 </h3>
						<h4>New RS Feva for Juniors</h4> 
						<p>NSC has recently purchased an RS Feva with the help of an RYA 
						equipment grant.</p>
					</div>
				</div>
			</div>
			
			

		</div>