<% content_for :head do %>
  <title><%= page_title "Joining" %></title>
<% end %>

		<div id="page">

			<div id="content">
				<div class="pagetext">
				
					<p>Sailors from novices through to capable club sailors are well 
					catered for at the club. Those want to learn can also join one of our
					 RYA recognised training courses.<br>
					 <br>
					 We run a full racing programme from March until Boxing Day.</p>
					
					<p>You are more than welcome to visit the club to find out more.</p>
					
					<p>The Club currently has fleets of Laser, GP14, Topper, Enterprise, 
					Albacore, National Twelve, RS Vareo, Merlin Rocket, Solo, Lark; and 
					welcomes other monohull dinghies without trapeze up to 14'6" in 
					length. Bowsprits may not be deployed during Club racing sessions.</p>
					
          <%= partial "partials/content/schedule_of_fees" %>

				</div>
			</div>
			
			<div id="sidebar">
				<img src="./images/PhilSheppard_sm.png"/>
				
				<div class="title">
					<h3>Phil Sheppard</h3>
					<p>Membership Secretary</p>
				</div>
				
				<div id="imagelist" >
					<ul>
						<li><img src="./images/IMG_5305cs.png" alt="sailing"></li>
					</ul>
				</div>
			</div>
		</div>