<% content_for :head do %>
  <title><%= page_title "About" %></title>
<% end %>

		<div id="sectionnavbar">
				<ul>
					<li><a href="./club.html">Introduction</a></li>
					<li><a href="./location.html">Location</a></li>
					<li><a href="./membership.html" class="active">Membership</a></li>
					<li><a href="./committees.html">Committees</a></li>
					<li><a href="./handbook.html">Handbook</a></li>
				</ul>
		</div>		

		<div id="page">

			
			
			<div id="content">
				<div class="pagetext">
				
					<p>Sailors from novices through to capable club sailors are well 
					catered for at the club. Those want to learn can also join one of our
					 RYA recognised training courses.<br>
					 <br>
					 We run a full racing programme from March until Boxing Day.</P>
					
          <%= partial "partials/content/schedule_of_fees" %>
          
				</div>
			</div>
			
			<div id="sidebar">
				<img src="./images/PhilSheppard_sm.png"/>
				
				<div class="title">
					<h3>Phil Sheppard</h3>
					<p>Membership Secretary</p>
				</div>
				
				<div id="imagelist" >
					<ul>
						<li><img src="./images/IMG_5305cs.png" alt="sailing"></li>
					</ul>
				</div>
			</div>
		</div>